{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Reset your password" %}{% endblock title %}

{% block content %}
    <div class="col-xl-6">
        <div class="card">
            <h4 class="card-header">{% trans "Password Reset" %}</h4>
            <div class="card-body">
                <h5 class="card-title">{% trans "Forgotten your password" %} ?</h5>
                <p class="card-text mt-3">
                    {% trans "Enter your e-mail address to obtain a new password." %}
                </p>
                {% include 'misc/includes/error_messages.html' %}
                {% crispy form helper %}
                <p class="card-text mt-3">
                    {% trans "Or you can return to the login page" %}:
                    <a href="{% url 'login' %}" class="card-link text-primary font-weight-bold">
                        {% trans "sign in" %}
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}