{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
    <div class="col-xl-6">
        <div class="card">
            <h4 class="card-header">{% trans "Password Set" %}</h4>
            <div class="card-body">
                <h5 class="card-title">{% trans "Password reset complete" %}</h5>
                <p class="card-text mt-3">
                    {% trans "Your password has been set." %}"
                </p>
                <p class="card-text mt-3">
                    {% trans "You can sign in now" %}:
                    <a href="{% url 'login' %}" class="card-link text-primary font-weight-bold">
                        {% trans "sign in" %}
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}