{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Password change" %}{% endblock title %}
{% block content %}
<div class="col-xl-6">
  <div class="card">
    <h4 class="card-header">{% trans "Password Change" %}</h4>
    <div class="card-body">
      <h5 class="card-title">{% trans "Password change" %}</h5>
      {% include 'misc/includes/error_messages.html' %}
      <p class="card-text mt-3">
        {% trans "Please enter your old password and new password twice" %}:
      </p>
      {% crispy form helper %}
    </div>
  </div>
</div>
{% endblock content %}
