{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Reset your password" %}{% endblock title %}

{% block content %}
    <div class="col-xl-6">
        <div class="card">
            <h4 class="card-header">{% trans "Password Reset Done" %}</h4>
            <div class="card-body">
                <h5 class="card-title">{% trans "Password reset information" %}</h5>
                <p class="card-text mt-3">
                    {% trans "We've emailed you instructions for settings your password." %}"
                </p>
                <p class="card-text mt-3">
                    {% trans "If you don't receive an email," %}
                    {% trans "please make sure you've entered the address you registered with." %}
                </p>
            </div>
        </div>
    </div>
{% endblock content %}